<div>
  <div class="mx-auto max-w-[600px] w-full px-4 mt-5">
    <label class="input w-full">
      <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor">
          <circle cx="11" cy="11" r="8" />
          <path d="m21 21-4.3-4.3" />
        </g>
      </svg>
      <input
        type="search"
        class="grow"
        placeholder="Search"
        {{on "input" this.searchHandler}}
      />
    </label>
  </div>

  <Sidebar @route={{@route}} @searchQuery={{this.searchQuery}} @searchFilteredRes={{this.searchedResult}} as |filteredProducts categorySelectionLength|>
    <ListProducts @searchQuery={{this.searchQuery}} @searchFilteredProducts={{filteredProducts}} @categorySelectionLength={{categorySelectionLength}} @route={{@route}}/>
  </Sidebar>
</div>
