{{#if (not-eq this.isFav "fav")}}
<OfferedProducts  @isLoggedIn={{this.isLoggedIn}} @searchQuery={{@searchQuery}} @categorySelectionLength={{@categorySelectionLength}} />
{{/if}}
<div class="grid gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5">
  {{#each @searchFilteredProducts as |product|}}
    <LinkTo @route="product" @model={{product.id}} class={{if (this.isProductInStock product.id) "" "pointer-events-none"}}>
      <ProductCard @product={{product}} @isLoggedIn={{this.isLoggedIn}}/>
    </LinkTo>
  {{/each}}
</div>
