{{log @searchQuery}}
{{log @searchQuery.length}}
{{log @categorySelectionLength}}
{{#if (eq @searchQuery.length 0)}}
{{#if (eq @categorySelectionLength 0)}}
<h1 class="text-2xl font-bold text-center my-4">🔥 Hot Offers</h1>
<GlobalToast />
<div class="flex justify-center mb-4">
  <div class="badge badge-lg badge-accent gap-2 text-lg">
    ⏰ Offer ends in:
    <span class="font-mono text-xl">
      {{this.offers.minutes}}m : {{this.offers.seconds}}s
    </span>
  </div>
</div>


<div class="grid grid-cols-2 md:grid-cols-4 gap-6 p-4">
  {{#each this.offers.offeredProducts as |product|}}
    <LinkTo @route="product" @model="{{product.id}}">
    
      <div class="card bg-base-100 shadow-md hover:shadow-xl transition-all duration-300">
        <div class="relative">
          <figure class="p-4">
            <img src={{product.thumbnail}} alt={{product.title}} class="rounded-xl h-32 object-cover w-full" />
          </figure>

          {{#if product.discountPercentage}}
            <div class="absolute top-2 left-2 badge badge-error text-white font-bold text-sm px-3 py-1">
              -{{product.discountPercentage}}%
            </div>
          {{/if}}
        </div>
        {{#if (this.isLoggedIn)}}
        <FavIcon @prod={{product}}/>
        {{/if}}

        {{#if this.showToast}}
          <Toast @msg={{this.toastMsg}}/>
        {{/if}}

        <div class="card-body p-4">
          <h2 class="card-title text-sm font-semibold">{{product.title}}</h2>
          <p class="text-xs text-gray-600 line-clamp-2">{{product.description}}</p>
          <div class="mt-2">
            <span class="line-through text-red-500 text-lg opacity-80 ">
              ${{product.price}}
            </span>
            <span class="text-primary font-bold text-lg ms-2">${{calculate-offer product.discountPercentage product.price}}</span>
          </div>
              {{#if @isLoggedIn}}
                <div class="card-actions mt-3">
                  <button 
                    type="button" 
                    class="btn btn-sm btn-primary btn-block"
                    {{on "click" (fn this.addToCart product.id)}}
                    value={{@product.id}}
                  >
                    Add to Cart
                  </button>
                </div>
              {{/if}}
        </div>
      </div>
    </LinkTo>
  {{/each}}
</div>
{{/if}}
{{/if}}