
  {{#each this.allItems as |item|}}
    <div class="flex flex-col md:flex-row items-start md:items-center gap-4 p-4 rounded-lg shadow border bg-base-100">
        <CartItem @item={{item}} @removeProduct={{this.removeProduct}} @toggleSelection={{this.toggleSelection}} @updateQuantity={{this.updateQuantity}} as |updatedItem| >
          {{this.updateSelectedProd updatedItem}}
        </CartItem>
    </div>
  {{/each}}

  {{yield this.selectedProducts}}