<div>
  <img
    src={{get @product.images "0"}}
    alt="Product Image"
    class="rounded-lg w-full max-h-96 object-contain"
  />

  <h2 class="mt-4 text-2xl font-semibold text-gray-800">{{@product.title}}</h2>

  <p class="mt-1 text-xl font-bold text-green-600">
    ${{@product.price}}
  </p>
  {{log @product}}
  {{#if (this.checkProdIsInoffer @product.id)}}
    <div class="flex items-center gap-3 mt-2">
      <span class="badge badge-success text-white text-sm">
        {{@product.discountPercentage}}% OFF
      </span>

      <span class="text-sm text-red-600 font-semibold">
        ⏳ {{this.offers.minutes}}m {{this.offers.seconds}}s left
      </span>
    </div>
  {{/if}}
</div>
